# Tugas 1 : Data Integration

## Sumber Data : UCI Machine Learning Repository - Facebook metrics Data Set

In [12]:
import pandas as pd

In [13]:
data1 = pd.read_csv('E:\kuliah\data mining statistika\data integration_06211640000033\datatugas1_1.csv',sep=';')
data2 = pd.read_csv('E:\kuliah\data mining statistika\data integration_06211640000033\datatugas1_2.csv',sep=';')

data_merge = pd.merge(data1,data2,on=['Page total likes','Type'])
data_merge.head()

data_merge.to_csv('E:\kuliah\data mining statistika\data integration_06211640000033\Facebook_dataset1.csv')

In [14]:
data_merge.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,154,2812,1503,132,0,66.0,14.0,80
2,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,1119,61027,32048,1386,58,1572.0,147.0,1777
3,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,580,6228,3200,396,19,325.0,49.0,393
4,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,364,15432,9328,379,3,249.0,27.0,279

In [15]:
data1.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410

In [16]:
data2.head()

,Page total likes,Type,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,580,6228,3200,396,19,325.0,49.0,393

In [17]:
data3 = pd.read_csv('E:\kuliah\data mining statistika\data integration_06211640000033\datatugas1_3.csv',sep=';')
data4 = pd.read_csv('E:\kuliah\data mining statistika\data integration_06211640000033\datatugas1_4.csv',sep=';')

data_concat = pd.concat([data3,data4])
data_concat.head()

data_concat.to_csv('E:\kuliah\data mining statistika\data integration_06211640000033\Facebook_dataset2.csv')

In [18]:
data_concat.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [19]:
data3.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [20]:
data4.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,129600,Photo,1,7,7,6,1.0,5848,9068,622,570,795,6651,4212,383,4,71,10,85
1,129600,Photo,1,7,6,11,0.0,26944,43464,877,740,1097,20270,10208,563,6,194,34,234
2,129600,Photo,3,7,6,5,0.0,5292,9321,756,646,1033,5867,3404,516,6,226,42,274
3,129600,Status,2,7,5,12,1.0,15576,27513,2417,2327,3098,19078,10840,1839,11,238,51,300
4,129600,Photo,3,7,5,3,0.0,54256,82011,1620,963,1419,42128,24224,977,10,755,58,823