In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('restaurtantscore.csv')
data.head()

,business_id,business_name,business_address,business_city,business_state,business_postal_code,business_latitude,business_longitude,business_location,business_phone_number,inspection_id,inspection_date,inspection_score,inspection_type,violation_id,violation_description,risk_category
0,3790,The Clift Hotel (Spanish Suite),495 Geary St 15th Floor,San Francisco,CA,94102,37.786974,-122.411136,"{'human_address': '{""address"":"""",""city"":"""",""st...",NaN,3790_20160216,2016-02-16T00:00:00,100.0,Routine - Unscheduled,NaN,NaN,NaN
1,1249,KABABAYAN FAST FOOD,2706 MISSION St,San Francisco,CA,94110,37.753691,-122.418657,"{'human_address': '{""address"":"""",""city"":"""",""st...",1.415593e+10,1249_20160216,2016-02-16T00:00:00,83.0,Routine - Unscheduled,1249_20160216_103103,High risk food holding temperature,High Risk
2,13427,Extreme Pizza,3911 Alemany Bl.,San Francisco,CA,94132,37.711185,-122.467790,"{'human_address': '{""address"":"""",""city"":"""",""st...",1.415100e+10,13427_20160216,2016-02-16T00:00:00,96.0,Routine - Unscheduled,13427_20160216_103154,Unclean or degraded floors walls or ceilings,Low Risk
3,69115,Hahn's Hibachi,1710 Polk St,San Francisco,CA,94109,37.792577,-122.421056,"{'human_address': '{""address"":"""",""city"":"""",""st...",NaN,69115_20160216,2016-02-16T00:00:00,75.0,Routine - Unscheduled,69115_20160216_103102,Unclean hands or improper use of gloves,High Risk
4,33442,Miller's East Coast Deli,1725 Polk St,San Francisco,CA,94109,37.792784,-122.421164,"{'human_address': '{""address"":"""",""city"":"""",""st...",NaN,33442_20160216,2016-02-16T00:00:00,75.0,Routine - Unscheduled,33442_20160216_103145,Improper storage of equipment utensils or linens,Low Risk

In [5]:
np.sum(data.isnull())

business_id                  0
business_name                0
business_address             0
business_city                0
business_state               0
business_postal_code      1263
business_latitude        23535
business_longitude       23535
business_location        23535
business_phone_number    36856
inspection_id                0
inspection_date              0
inspection_score         13935
inspection_type              0
violation_id             12775
violation_description    12775
risk_category            12775
dtype: int64

In [6]:
data.describe()

,business_id,business_latitude,business_longitude,business_phone_number,inspection_score
count,53385.000000,29850.000000,29850.000000,1.652900e+04,39450.000000
mean,51128.514358,37.746479,-122.345675,1.415539e+10,85.920127
std,35631.887717,0.977693,3.168113,1.255405e+06,8.736381
min,19.000000,0.000000,-122.510896,1.415020e+10,45.000000
25%,5874.000000,37.755177,-122.437657,1.415537e+10,81.000000
50%,66515.000000,37.780408,-122.419484,1.415560e+10,87.000000
75%,82733.000000,37.789457,-122.407887,1.415578e+10,92.000000
max,99369.000000,37.824494,0.000000,1.415988e+10,100.000000

In [7]:
data['business_latitude']=data['business_latitude'].fillna((data['business_latitude'].mean()))
data['business_longitude']=data['business_longitude'].fillna((data['business_longitude'].mean()))
data['business_phone_number']=data['business_phone_number'].fillna((data['business_phone_number'].mean()))
data['inspection_score']=data['inspection_score'].fillna((data['inspection_score'].mean()))

In [8]:
np.sum(data.isnull())

business_id                  0
business_name                0
business_address             0
business_city                0
business_state               0
business_postal_code      1263
business_latitude            0
business_longitude           0
business_location        23535
business_phone_number        0
inspection_id                0
inspection_date              0
inspection_score             0
inspection_type              0
violation_id             12775
violation_description    12775
risk_category            12775
dtype: int64

In [9]:
from scipy.stats import mode

In [10]:
data['business_postal_code']=data['business_postal_code'].fillna(data['business_postal_code']).dropna().mode()[0]
data['business_location']=data['business_location'].fillna(data['business_location']).dropna().mode()[0]
data['violation_id']=data['violation_id'].fillna(data['violation_id']).dropna().mode()[0]
data['violation_description']=data['violation_description'].fillna(data['violation_description']).dropna().mode()[0]
data['risk_category']=data['risk_category'].fillna(data['risk_category']).dropna().mode()[0]
np.sum(data.isnull())

business_id              0
business_name            0
business_address         0
business_city            0
business_state           0
business_postal_code     0
business_latitude        0
business_longitude       0
business_location        0
business_phone_number    0
inspection_id            0
inspection_date          0
inspection_score         0
inspection_type          0
violation_id             0
violation_description    0
risk_category            0
dtype: int64

In [11]:
from scipy.stats import stats
z = np.abs(stats.zscore(data._get_numeric_data()))
print(z)
data = data[(z<3).all(axis=1)]
print(data.shape)

[[1.32855599e+00 5.53918271e-02 2.76329627e-02 5.46104589e-12
  1.87481668e+00]
 [1.39986918e+00 9.86529816e-03 3.08077871e-02 7.65611499e-01
  3.88831791e-01]
 [1.05809346e+00 4.82770159e-02 5.15482003e-02 6.29184373e+00
  1.34219351e+00]
 ...
 [1.25261126e+00 2.13823266e-13 4.55908735e-13 5.46104589e-12
  6.76414550e-01]
 [9.82401319e-01 2.13823266e-13 4.55908735e-13 5.46104589e-12
  8.09570343e-01]
 [9.98145791e-01 2.13823266e-13 4.55908735e-13 5.46104589e-12
  1.89225762e-15]]
(51480, 17)